body {
    background-color: rgba(6, 70, 44);
}

img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 0;
    left: 200px;
    object-fit: cover;
    z-index: -1;
}

p {
    color: rgba(244, 192, 10);
    font-size: 20px;
    position: relative;
    left: 30px;
}
}